@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

/* ant design modal footer top margin remove */
.ant-modal-footer {
  margin-top: 0 !important;
}
/* 

/* ant design menu option */
.ant-menu-light .ant-menu-item {
  color: white !important;
}
.ant-menu-light .ant-menu-submenu-title {
  color: white !important;
}
.ant-menu-item:hover {
  background: linear-gradient(to right, #165bab 50%, #023f86 100%);
  color: white !important;
}

.ant-menu-item-selected {
  background: linear-gradient(to right, #165bab 50%, #023f86 100%);
  border-radius: 0 !important;
  border-left: 6px solid white !important;
  width: "100%" !important;
}

.ant-btn:hover,
.ant-btn:focus {
  background-color: #165bab !important;
  border-color: white !important;
  color: white !important;
  box-shadow: none !important;
}

.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: white !important;
}

.ant-menu .ant-menu-item .ant-menu-item-icon + span {
  transition: none !important;
}

.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: white !important;
}

.ant-menu .ant-menu-title-content {
  transition: none !important;
}

.ant-badge .ant-badge-count {
  background: #d7e8fd !important;
  color: black !important;
  border: 1px solid #d7e8fd !important;
}

.jodit-workplace {
  height: 550px !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dfdfdf00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #8b0000;  */
  background: #ffffff67;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #023f86;
}

/* pagination style */
.ant-pagination-item-active a {
  color: white !important;
  background-color: #023f86 !important;
}

.ant-switch-checked {
  background-color: #023f86 !important;
}
